<ul class="nav">
  <li class="nav-item">
    <a class="nav-link"
       [ngClass]="{'active': listConfig.type === 'feed'}"
       (click)="setListTo('feed')">
       Your Feed
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
       (click)="setListTo('all')">
       Global Feed
    </a>
  </li>
  <li class="nav-item" [hidden]="!listConfig.filters.tag">
    <a class="nav-link active">
      <strong>#</strong>{{ listConfig.filters.tag }}
    </a>
  </li>
</ul>


<app-blog-list [limit]="10" [config]="listConfig"></app-blog-list>