<!-- Subscribe Widget -->
<div class="card my-4 border-light">
	<div class="card-body">
		<form>
			<h4>
				<label for="email">Subscribe</label>
			</h4>
			<div class="input-group input-group-sm">
				<input aria-describedby="emailHelp" class="form-control" id="email" placeholder="you@example.com" type="email">
				<div class="input-group-append">
					<button class="btn btn-default btn-sm" type="submit"><i aria-hidden="true" class="fa fa-sign-in"></i></button>
				</div>
			</div>
			<small class="text-muted" id="emailHelp">No spam! No Bullshit! Only useful information.</small>
		</form>
	</div>
</div>

<!-- Tags Widget -->
<div class="card my-4 border-light">
	<div class="card-body">
		<h4>Popular Tags</h4>
		<ul class="list-inline">
			<li class="list-inline-item mb-1">
				<a class="btn btn-light btn-sm px-1" href="#" role="button">Web Design</a>
      </li>
      <li class="list-inline-item mb-1">
				<a class="btn btn-light btn-sm px-1" href="#" role="button">HTML</a>
      </li>
      <li class="list-inline-item mb-1">
				<a class="btn btn-light btn-sm px-1" href="#" role="button">Angular</a>
      </li>
      <li class="list-inline-item mb-1">
				<a class="btn btn-light btn-sm px-1" href="#" role="button">Machine learning</a>
      </li>
      <li class="list-inline-item mb-1">
				<a class="btn btn-light btn-sm px-1" href="#" role="button">Deep learning</a>
      </li>
      <li class="list-inline-item mb-1">
				<a class="btn btn-light btn-sm px-1" href="#" role="button">Data Science</a>
      </li>
      <li class="list-inline-item mb-1">
				<a class="btn btn-light btn-sm px-1" href="#" role="button">Artificial Intelligence</a>
			</li>
		</ul>
	</div>
</div>

<!-- Side Widget -->
<div class="card my-4 border-light">
	<div class="card-body">
		<h4>Popular Posts</h4>
		You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
	</div>
</div>