<div id="loading-spinner" *ngIf="loadingBPC">
	<i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>

{{loadingBPC}}

<!-- Post Details -->
<div class="card my-3 border-light" *ngIf="false">
	<div class="card-body">
		<h3 class="card-title">
			{{ post.title }}
		</h3>
		<hr>
		<div class="text-muted">
			Posted on {{ post.createdAt | date }} by
			<a href="http://hbamithkumara.com" target="_blank">Ami</a>
		</div>

		<ul class="list-inline">
			<li class="list-inline-item mb-1" *ngFor="let tag of post.tagList">
				<a class="btn btn-light btn-sm px-1" (click)="onClickTag(tag)" [routerLink]="" [queryParams]="{tag: tag}" role="button">{{ tag }}</a>
			</li>
		</ul>
		<hr>
		<markdown [data]="post.body | formatter"></markdown>
	</div>
</div>

<!-- Post Recommendation -->
<!-- <p>You might like these post also</p> -->

<app-blog-comment-form></app-blog-comment-form>

<h3>Comments</h3>
<!-- <app-blog-comment></app-blog-comment> -->