<div id="loading-spinner" *ngIf="loading">
	<i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>
<!-- <hr> -->
<!-- {{post$ | async | json}} -->
<!-- <hr> -->
<!-- {{post | json}} -->
<!-- <hr> -->
<div class="card my-3 border-light" *ngIf="!loading">
  <div class="card-body">
		<h3 class="card-title">
			{{ post.title }}
		</h3>
		<hr>
		<div class="text-muted">
			Posted on {{ post.createdAt | date }} by <a href="http://hbamithkumara.com" target="_blank">Ami</a>
			<!-- <a href="http://hbamithkumara.com">{{ post.author.username }}</a> -->
		</div>
		
		<ul class="list-inline">
			tags:
			<li class="list-inline-item mb-1" *ngFor="let tag of post.tagList">
				<a class="btn btn-light btn-sm px-1" (click)="onClickTag(tag)" 
				[routerLink]=""
				[queryParams]="{tag: tag}"
				role="button">{{ tag }}</a>
			</li>
		</ul>
		<!-- <hr> -->
		<!-- Post Content -->
		<markdown [data]="post.body | formatter"></markdown>
		
		<hr>
		<!-- Post Recommendation -->
		<p>You might like these post also</p>
  </div>
</div>

<app-blog-comment-form></app-blog-comment-form>

<h3>Comments</h3>
<!-- <app-blog-comment></app-blog-comment> -->