<!-- Blog Post List -->
<ul class="list-unstyled text-center" *ngIf="!loadingBLC">
  <li class="mt-4" *ngFor="let post of posts">
    <div class="card border-light">
      <div class="card-body">
        <h3 class="card-title">
          <a class="card-link text-dark" [routerLink]="[post.slug]">{{ post.title }}</a>
        </h3>
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let tag of post.tagList">
            <div class="px-1" style="border-radius: 3px; background-color: whitesmoke;">{{ tag }}</div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-muted">
        Posted on {{ post.createdAt | date }} by <a href="http://hbamithkumara.com" target="_blank">Ami</a>
      </div>
    </div>
  </li>
</ul>