
<!-- Blog Post -->

<ul class="list-unstyled">
  <li *ngFor="let post of posts$ | async">
<div class="card my-3 border-light">
  <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
  <div class="card-body">
    <h2 class="card-title">{{ post.title }}</h2>
		<ul class="list-inline">
			<li class="list-inline-item mb-1" *ngFor="let tag of post.tagList">
				<a class="btn btn-light btn-sm px-1" href="#" role="button">{{ tag }}</a>
      </li>
		</ul>
    <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p> -->
    <markdown>
<!-- {{post.body | marked}} -->
<h1>this is test</h1>

{{post.body | marked}}

    </markdown>
    <a class="btn btn-link btn-sm" href="#">Read More >></a>
  </div>
  <div class="card-footer text-muted">
    Posted on January 1, 2017 by
    <a href="#">Start Bootstrap</a>
  </div>
</div>

  </li>
</ul>

{{ posts$ | async | json}}