<div id="loading-spinner" *ngIf="loading">
  <i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>

<!-- Blog Post List -->
<ul class="list-unstyled text-center" *ngIf="!loading">
  <li *ngFor="let post of posts">
    <div class="card border-light my-2">
      <div class="card-body">
        <h3 class="card-title">
          <a class="card-link text-dark" [routerLink]="[post.title]">{{ post.title }}</a>
        </h3>
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let tag of post.tagList">
            <div class="px-1" style="border-radius: 3px; background-color: whitesmoke;">{{ tag }}</div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-muted">
        Posted on {{ post.createdAt | date }} by
        <a href="http://hbamithkumara.com" target="_blank">Ami</a>
        <!-- <a href="http://hbamithkumara.com">{{ post.author.username }}</a> -->
      </div>
    </div>
  </li>
</ul>