<!-- Comments Form -->
<div class="card my-4 border-light">
  <h4 class="card-header">Leave a Comment:</h4>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" id="title" placeholder="Title">
      </div>
      <div class="form-group">
        <textarea class="form-control form-control-sm" ty name="description" placeholder="Description" rows="3" ></textarea>
      </div>
      <button class="btn btn-default btn-sm btn-block" type="submit">Post Comment</button>
    </form>
  </div>
</div>