<div class="card my-4 border-light">
  <div class="card-body">
    <form>
      <h4 class="text-dark text-left">
        <label for="email">Subscribe</label>
      </h4>
      <div class="input-group input-group-sm">
        <input aria-describedby="emailHelp" class="form-control" id="email" placeholder="you@example.com" type="email">
        <div class="input-group-append">
          <button class="btn btn-default btn-sm" type="submit">
            <i aria-hidden="true" class="fa fa-sign-in"></i>
          </button>
        </div>
      </div>
      <small class="text-muted" id="emailHelp">No spam! No Bullshit! Only useful information.</small>
    </form>
  </div>
</div>