<div class="row">
  <div class="col-md-12">
    <div class="card bg-default">
      <div class="card-body">
        <h4 class="card-title">this is comment heading</h4>
            <!-- {{comment.body}} -->
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
      </div>
      <div class="card-footer">
          Posted by {{comment.author.username}} on {{comment.createdAt}}
      </div>
    </div>
  </div>
</div>