/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Rasa';
    /* background-color: white; */
}

#loading-spinner {
    text-align: center;
    padding: 10%;
}

.card-header {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.card-body {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.card-footer {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

