<div class="container-fluid">
  <div class="row" id="banner2">
    <div class="col-md-8 text-center">
      <div class="card my-4 border-light">
        <div class="card-body">
          <h3>Hi there, Welcome!</h3>
          <h5>
            In this blog, I'll be writing lots of posts about latest news on Emerging Technologies, Simple and easy to follow guides, Best resources to learn new things, MOOCs, Implementable code snippets and Programming practices.
          </h5>
          <h5>
            I hope you will learn a lot of things in here and enjoy reading.
          </h5>
          <hr>
          <a class="text-info" href="http://hbamithkumara.com" target="_blank">
            <h5>Ami<i class="fa fa-smile-o" aria-hidden="true"></i></h5>
          </a>
        </div>
        <!-- <div class="card-footer">
          <a class="text-info" href="http://hbamithkumara.com" target="_blank">
            <h5>Ami<i class="fa fa-smile-o" aria-hidden="true"></i></h5>
          </a>
        </div> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="card my-4 border-light">
        <div class="card-body">
          <form>
            <h4>
              <label for="email">Subscribe</label>
            </h4>
            <div class="input-group input-group-sm">
              <input aria-describedby="emailHelp" class="form-control" id="email" placeholder="you@example.com" type="email">
              <div class="input-group-append">
                <button class="btn btn-default btn-sm" type="submit"><i aria-hidden="true" class="fa fa-sign-in"></i></button>
              </div>
            </div>
            <small class="text-muted" id="emailHelp">No spam! No Bullshit! Only useful information.</small>
          </form>
        </div>
      </div>
      <div class="card my-4 border-light">
        <div class="card-body">
          <p>Please do Signin/Signup to customize your feed and post recommendation.</p>
          <button class="btn btn-light btn-sm py-0" type="button">Signin</button>
          <button class="btn btn-light btn-sm py-0" type="button">Signup</button>
          <button class="btn btn-light btn-sm py-0" type="button">Profile</button>
          <button class="btn btn-light btn-sm py-0" type="button">Signout</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="test11">
    <div class="col-md-8 text-center">
      <div class="card my-2 border-light">
          <div class="card-body">
            <p>
              Posts in this blog are mainly on Web Development, Artificial Intelligence, Machine learning, 
              Natural Language Processing, Javascript, Angular, Firebase, etc., 
              Browse through anything that you want to learn. I have tried to include all the necessary Information.
            </p>
            <a class="btn btn-light" [routerLink]="['posts']">
              Posts
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
              <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i> -->
            </a>
          </div>
        </div>
        <div class="card my-2 border-light">
          <div class="card-body">
            <p>Wanna know more about the blog and the guy beyond it? Checkout to About page.</p>
            <a class="btn btn-light" [routerLink]="['about']">
              About
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="card my-2 border-light">
          <div class="card-body">
            <p>I have lot many things planned to improve this blog and deliver high quality content. Checkout What's Next.</p>
            <a class="btn btn-light" [routerLink]="['next']">
              Next
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="card my-2 border-light">
          <div class="card-body">
            <p>If you find this blog useful, please share it on social media and invite your friends and colleagues.</p>
            <!-- <h4>Share buttons goes here</h4> -->
            <a class="btn btn-light">
              LinkedIn
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
            <a class="btn btn-light">
              Twitter
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
            <a class="btn btn-light">
              Facebook
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="card my-2 border-light">
          <div class="card-body">
            <p>If you want to suggest some topics, report issues, give feedback</p>
            <a class="btn btn-light">
              Suggest Topic
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
            <a class="btn btn-light">
              Report
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
            <a class="btn btn-light">
              Feedback
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card my-2 border-light">
        <div class="card-body">
          <h4>Embedded Twitter Feed</h4>
          <!-- <a class="twitter-timeline" href="https://twitter.com/AmithkumaraHB?ref_src=twsrc%5Etfw">Tweets by AmithkumaraHB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card my-4 border-light text-center">
        <div class="card-body">
            <blockquote class="blockquote">
              <h4 class="mb-0">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                Live as if you were to die tomorrow. Learn as if you were to live forever.
                <i class="fa fa-quote-right" aria-hidden="true"></i>
              </h4>
              <footer class="blockquote-footer">
                Mahatma Gandhi
              </footer>
            </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>