<div class="container-fluid">
  <div class="row" id="banner">
    <div class="col-md-8 text-center py-4 text-dark">
      <h1>Hi There! WELCOME</h1>
      <p>
          Lorem ipsum velit tincidunt lacus molestie aenean vestibulum, vel elementum egestas tempor donec pulvinar vulputate quisque, habitasse placerat sollicitudin tortor eu tempus aliquam ac curabitur libero lacus.
        </p>
    </div>
    <div class="col-md-4 py-1">
      
      <div class="card my-4 border-light" style="background-color: whitesmoke;">
          <div class="card-body">
            <form>
              <h4>
                <label for="email">Subscribe</label>
              </h4>
              <div class="input-group input-group-sm">
                <input aria-describedby="emailHelp" class="form-control" id="email" placeholder="you@example.com" type="email">
                <div class="input-group-append">
                  <button class="btn btn-default btn-sm" type="submit"><i aria-hidden="true" class="fa fa-sign-in"></i></button>
                </div>
              </div>
              <small class="text-muted" id="emailHelp">No spam! No Bullshit! Only useful information.</small>
            </form>
          </div>
        </div>
    </div>
  </div>
  <div class="row" id="banner1">
      <div class="col-md-8 text-center">
        <h1>Hi., WELCOME TO MY BLOG!</h1>
      </div>
      <div class="col-md-4">
        Subscribe!
        <div class="card my-4 border-light" style="background-color: whitesmoke;">
            <div class="card-body">
              <form>
                <h4>
                  <label for="email">Subscribe</label>
                </h4>
                <div class="input-group input-group-sm">
                  <input aria-describedby="emailHelp" class="form-control" id="email" placeholder="you@example.com" type="email">
                  <div class="input-group-append">
                    <button class="btn btn-default btn-sm" type="submit"><i aria-hidden="true" class="fa fa-sign-in"></i></button>
                  </div>
                </div>
                <small class="text-muted" id="emailHelp">No spam! No Bullshit! Only useful information.</small>
              </form>
            </div>
          </div>
      </div>
    </div>
</div>
















<h1>Welcome to App!</h1>
  <p>
      Lorem ipsum velit tincidunt lacus molestie aenean vestibulum, vel elementum egestas tempor donec pulvinar vulputate quisque, habitasse placerat sollicitudin tortor eu tempus aliquam ac curabitur libero lacus.
    </p><p>
      Litora torquent id vitae habitasse pellentesque consequat lorem, aenean dictumst condimentum platea taciti elementum, donec maecenas vestibulum vulputate per vehicula neque leo donec fringilla mi.
    </p><p> 
      Aptent commodo ullamcorper luctus fermentum mi ultricies, orci blandit malesuada diam aenean, sem magna purus luctus scelerisque quisque nec hendrerit porttitor faucibus placerat nisl primis cubilia himenaeos nec odio class lobortis.
    </p><p> 
      Platea curae diam faucibus curabitur donec sollicitudin eros, sociosqu orci tincidunt sapien vestibulum curabitur fames, varius tempus aenean rutrum lorem massa.
    </p><p>   
      Dapibus odio nec phasellus fermentum augue aliquet porta, vulputate feugiat porttitor sapien netus accumsan malesuada nunc, ullamcorper sagittis etiam inceptos faucibus aptent.
    </p><p>   
      Eleifend litora varius integer ut quis amet vestibulum purus felis himenaeos sit est tincidunt eu sem sapien elit massa vitae fames at neque dictum consectetur tempor auctor.
    </p><p>   
      Nullam sem quisque porta facilisis ultricies justo sit, venenatis gravida ut tempor interdum tempus, sed malesuada eros cras sit netus.
    </p><p>   
      Semper commodo in mattis ipsum potenti risus enim vulputate, tristique morbi ut eleifend mauris ante elit, nec tortor purus non a lacinia habitasse.
    </p><p>
      Accumsan iaculis taciti justo class lobortis nam mauris tincidunt ad accumsan donec aenean placerat netus lorem turpis, pretium bibendum ipsum scelerisque mattis donec dui quisque sollicitudin tempor rutrum sapien rhoncus scelerisque.
    </p>
    <p>   
      Eleifend litora varius integer ut quis amet vestibulum purus felis himenaeos sit est tincidunt eu sem sapien elit massa vitae fames at neque dictum consectetur tempor auctor.
    </p><p>   
      Nullam sem quisque porta facilisis ultricies justo sit, venenatis gravida ut tempor interdum tempus, sed malesuada eros cras sit netus.
    </p><p>   
      Semper commodo in mattis ipsum potenti risus enim vulputate, tristique morbi ut eleifend mauris ante elit, nec tortor purus non a lacinia habitasse.
    </p><p>
      Accumsan iaculis taciti justo class lobortis nam mauris tincidunt ad accumsan donec aenean placerat netus lorem turpis, pretium bibendum ipsum scelerisque mattis donec dui quisque sollicitudin tempor rutrum sapien rhoncus scelerisque.
    </p>