#banner {
    /* background: #8e9eab;
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
    background: linear-gradient(to left, #eef2f3, #8e9eab);
     */

     /* background: #F0F2F0;
     background: -webkit-linear-gradient(to left, #000C40, #bdc3c7);
     background: linear-gradient(to left, #000C40, #bdc3c7); */

     /* background: #F0F2F0;
     background: -webkit-linear-gradient(to left, #3a4a91, #eef2f3);
     background: linear-gradient(to left, #3a4a91, #eef2f3); */

     
     /* background: #F0F2F0;
     background: -webkit-linear-gradient(to left, #323854, #bdc3c7);
     background: linear-gradient(to left, #323854, #bdc3c7);
      */
     /* background: #F0F2F0;
     background: -webkit-linear-gradient(to left, #bdc3c7, white);
     background: linear-gradient(to left, #bdc3c7, white);
      */
     background: #F0F2F0;
     background: -webkit-linear-gradient(to left, white, #bdc3c7);
     background: linear-gradient(to left, white, #bdc3c7);
     
}

#banner1 {
    background: #8e9eab;
    background: -webkit-linear-gradient(to left, #323854, #eef2f3);
    background: linear-gradient(to left, #323854, #eef2f3);   
}




