<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card my-4 border-light">
                <div class="card-body">
                    <h4 class="text-center">Hello, Thanks for visiting my blog.</h4>
                    <h5>
                        I'm Amithkumara H B from Bengaluru, Software Engineer, Tech Enthusiast and a guy with the drive and determination to do anything that he puts his mind too.
                    </h5>
                    <p>
        I don’t know how you found my blog, but if you ever clicked it by accident, I swear that you won’t regret it.
    </p><p>
        Why I started this blog? I am in a constant state of learning, which I love, but I feel I need to share it in some way.
        </p><p>
        In this blog, I'll be writing lots of posts about the latest news on Emerging Technologies, Simple and easy to follow guides, 
            Best resources to learn new things, MOOCs, Implementable code snippets and Programming practices.
        Of course, I will not pretend on this page that I am the all-knowing “adult” with the answers to all of the questions.
    </p><p>
        I’ve had this in mind for so long and finally made it.
        Browse through anything that you want to learn. I have tried to include all the necessary Information.
    </p><p>
        I’m still working on updating all the entries to display the most important information about the posts/projects and to provide download links for technical reports 
            and source code for some of them.
                    </p>
                    <p>
                        This is my first time ever making a blog so please bear with me if I make some rookie mistakes.
                    </p>
                    <a class="text-info text-center" href="http://hbamithkumara.com" target="_blank">
                        <h5>Ami<i class="fa fa-smile-o" aria-hidden="true"></i></h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-4 border-light">
                <div class="card-body">
                    <form>
                    <h4>
                        <label for="email">Subscribe</label>
                    </h4>
                    <div class="input-group input-group-sm">
                        <input aria-describedby="emailHelp" class="form-control" id="email" placeholder="you@example.com" type="email">
                        <div class="input-group-append">
                        <button class="btn btn-default btn-sm" type="submit"><i aria-hidden="true" class="fa fa-sign-in"></i></button>
                        </div>
                    </div>
                    <small class="text-muted" id="emailHelp">No spam! No Bullshit! Only useful information.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>